<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1=nombrePagina
            p Coloca tu nueva Contraseña

            //if locals.mensajes //si hay errores en el controller
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form.caja-login(method="POST" )
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu Nuevo Password")
                .campo-enviar
                    input.boton(type="submit" value="Reestablecer Password")
                